*.local
*.stat
*.identcache

/Win32/Debug/dcu
/Win32/Debug/tmp
/Win32/Release/dcu
/uniGUI_Exemplo/Win32/Debug/dcu
/uniGUI_Exemplo/Win32/Debug/log
/uniGUI_Exemplo/__history
/uniGUI_Exemplo/Win32/Debug/uniGUI_Client.exe
/Win32/Debug/uniHardware_Server.exe
/Win32/Debug/sHardware.exe
/Win32/Release/sHardware.exe
